@charset "utf-8";

/* --------------------------
	Custom variables
----------------------------*/
$text-light:					#949CB1;
$text-base: 					#676B7F;
$text-bold:						#454850;

$bg:							#F8F9FD;
$border-color:					#D3D8DE;
$border-light-color:			#E5E5EB;
$card-header-footer-color:		#EFF3FA;

$type-300:						300;
$type-400:						400;
$type-500:						500;
$type-600:						600;
$type-700:						700;

/* --------------------------
	Bulma's global variables
----------------------------*/
$family-sans-serif: system-ui, -apple-system, BlinkMacSystemFont, "San Francisco", Roboto, "Segoe UI", "Helvetica Neue", sans-serif;

// Colors
$body-background-color: $bg;
$primary: #4474E4;
$dark: #1D2C4C;

$radius-large: 3px;

// Text
$font-size-base:              1rem !default;
$text: $text-base;

$h1-font-size:                $font-size-base * 2.5 !default;
$h2-font-size:                $font-size-base * 2 !default;
$h3-font-size:                $font-size-base * 1.75 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base !default;

$defaul-shadow: none;
$default-border: 1px solid $border-color;

// Box
$box-shadow: $defaul-shadow;
$box-card-padding: 1.5rem;

// Card
$card-shadow: $defaul-shadow;

// Form
// Input
$input-color: $text-bold;
$input-shadow: none;
$input-hover-color: $text-bold;
$input-hover-border-color: $border-color;
$input-focus-color: $text-bold;
$input-border-color: $border-color;
$input-focus-box-shadow-size: 0;
$input-focus-box-shadow-color: transparent;
$input-focus-border-color: $primary;

// Button 
$button-padding-vertical: 0.5em;

// Navbar
$navbar-dropdown-item-hover-background-color: transparent;

// Form
$help-size: 0.85rem;

// Generic
$link: $primary;
$link-hover: darken($link, 10%);

// Menu
$menu-item-color: $text-base;
$menu-item-hover-color: $link-hover;
$menu-item-hover-background-color: transparent;

@import "bulma";
@import "mixins";
@import "space";

h1, .h1 { font-size: $h1-font-size; }
h2, .h2 { font-size: $h2-font-size; }
h3, .h3 { font-size: $h3-font-size; }
h4, .h4 { font-size: $h4-font-size; }
h5, .h5 { font-size: $h5-font-size; }
h6, .h6 { font-size: $h6-font-size; }

h1,h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: $type-400;
	color: $text-bold;
}

// Utilities
.border-top {
	border-top: 1px solid $border;
}

.border-bottom {
	border-bottom: 1px solid $border;
}

.dd {
	@include dd();
}

html, body {
	letter-spacing: 0;
	-webkit-font-smoothing: antialiased;
	@extend .is-fullheight;
}

strong {
	font-weight: $type-600;
	color: $text-bold;
}

.is-main-content {
	padding: 2.3rem;
}

.menu {
	display: flex;
	min-height: 100vh;
	flex-direction: column;

	#wrapper {
	  flex: 1;
	}
}

.is-sidebar-menu {
	@extend .is-fullheight;
	@extend .is-hidden-mobile;

	padding: 2.3rem;
	flex: 0 0 250px;
	border-right: $default-border;
	display: flex;
	overflow-y: auto;
	flex-direction: column;

	.menu-list {
		li ul {
			margin: 0.65rem;
			padding-left: .45rem;
		}

		a {
			display: flex;
			font-size: 0.9rem;
			font-weight: $type-500;

			.feather {
				@extend .mr-3;
				position: relative;
				top: 0;
			}

			&.is-active {
				background: none;
				color: $primary;
				font-weight: $type-600;
			}
		}

		& > li > a {
			padding-left: 0;
			padding-right: 0;
		}

		& span {
			align-self: flex-start;
		}
	}

	.menu-list-icon {
		@extend .mr-3;
	}
}

.menu-list {
	padding-bottom: 1rem;
}

.menu-label,
.menu-label:not(:last-child) {
	margin-top: .5rem;
	margin-bottom: .5rem;
	letter-spacing: 0.05em;
	font-weight: $type-700; 
}

.navbar-brand {
	padding: 0;
	margin: 0;
	.navbar-item {
		margin: 0;
		flex: 0 0 250px;
	}
}

.subtitle,
.title {
	color: $text-bold;
}

.subtitle {
	font-weight: $type-300;
	font-size: 1.15rem;
}

.card-content,
.box {
	border: $default-border;
	padding: $box-card-padding;	
}

$input-padding-vertical: calc(1.375em - #{$control-border-width});
$input-padding-horizontal: calc(.85em - #{$control-border-width});
$input-icon-size: 2.83em;

.control {
	.input {
		@include transition(all 250ms ease);
		@include border-radius($radius-large);

		padding-bottom: $input-padding-vertical;
		padding-left: $input-padding-horizontal;
		padding-right: $input-padding-horizontal;
		padding-top: $input-padding-vertical;

		&:focus,
		&.is-focused,
		&:active,
		&.is-active {
			box-shadow: 0 0 0 1px $primary;
		}

		// Colors
		@each $name, $pair in $colors {
			$color: nth($pair, 1);
			&.is-#{$name} {
				&:focus,
				&.is-focused,
				&:active,
				&.is-active {
					box-shadow: 0 0 0 1px $color;
				}
			}
		}
	}

	&.has-icons-left,
	&.has-icons-right {
		.icon {
			@include transition(color 250ms ease);
			width: 2.56em;
			height: $input-icon-size;
		}

		.input,
		.select select {
			&:focus,
			&.is-focused,
			&:active,
			&.is-active {
				& ~ .icon {
					color: $primary;
				}
			}
			@each $name, $pair in $colors {
				$color: nth($pair, 1);
				&.is-#{$name} {
					&:focus,
					&.is-focused,
					&:active,
					&.is-active {
						& ~ .icon {
							color: $color;
						}
						box-shadow: 0 0 0 1px $color;
					}
				}
			}
		}
	}
}

.label {
	font-weight: $type-400;
	color: $text-bold;
}

.button {
	height: 2.75em
}